.banner{
    background-image: url('https://www.standard.co.uk/s3fs-public/thumbnails/image/2016/09/30/10/cocktails.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    padding: 120px 0;
}
